body{
    background-color: #efefae;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start; 
  margin-top: 100px; 

}

.Label {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weather-card {
  background-color: rgb(128, 191, 222);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(147, 193, 215);
}

.input-container {
  position: relative;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 280px
}

.submit {
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  width: 55px;
  height: 22px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.submit:hover {
  background-color: #4caf50;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 50px;
  }
  
  .Label {
    width: 100%;
  }
  
  .input {
    width: 100%;
  }
}
